@font-face {
    font-family: "Monsterrat", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
  }

  $headerTextMargin: 5% 0 0 26%;
  $headerTextMarginMobile: 5% 0 0 10%;
  $lineHeight: 1.6rem;
  $optionsColor: #848484;
  $resultsColor: #1E6B4E;
